<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавить мероприятие</title>
    <meta charset="UTF-8" />
    <style>
        body {
                display: flex;
                justify-content: center;
            }

            .container {
                max-width: 900px;
                width: 100%;
            }
    </style>
</head>
<body>
<div class="container">
<h1>Добавить мероприятие</h1>

<form th:action="@{/events/new}" method="post" th:object="${event}">

    <label>Начало:</label>
    <input type="datetime-local" name="startTimeStr" th:value="${startTimeStr}" required />

    <label>Название:</label>
    <input type="text" th:field="*{title}" required/><br/>

    <label>Стоимость:</label>
    <input type="text" th:field="*{price}" required/><br/>

    <label>Количество человек:</label>
    <textarea th:field="*{maxParticipants}"></textarea><br/>

    <label>Сложность правил:</label>
    <textarea th:field="*{complicacy}"></textarea><br/>

    <label>Описание:</label>
    <textarea th:field="*{description}"></textarea><br/>

    <label>Организатор:</label>
    <textarea th:field="*{host}"></textarea><br/>

    <label>Количество столов:</label>
    <textarea th:field="*{tables}"></textarea><br/>


    <button type="submit">Сохранить</button>
</form>

<a th:href="@{/home}">Назад</a>
</body>
</div>
</html>